body{
    margin: 0px auto;
    width: 970px;
}

#menu{
    margin-top: 20px;
    width: 970px;
    vertical-align: top;
    text-align: center;
}

h1{
    text-align: center;
}
form{
    text-align: center;
}