<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quote Dojo DashBoard</title>

</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/create" method="POST">
        Your Name:<br>
        <input type="text" name="name"><br>
        Your Quote:<br>
        <textarea name="quote" rows="4" cols="50"></textarea><br><br>
        <input type="submit" value="Add my Quote!">
        <a href="/quotedash"><button>Skip to Quotes!</button></a>
      </form>
      
</body>
</html>