<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="~/css/contact.css">
</head>
<body>
        <div id="menu">
                <a href="/">Home</a> |
                <a href="/project">Project</a> |
                <a href="/contact">Contact</a>
            </div>
    <h1>Contact Me!</h1>
    <form action="/action_page.php">
    <table style="width:100%">
        
        <tr>
            <tr><td>Name <input type="text" name="name"></td></tr>
            <tr><td>Email <input type="text" name="name"></td></tr>
          <td><textarea rows="4" cols="50">
                
                </textarea></td> 
        </tr>
        <br>
        
      </table>
      <input type="submit" value="Submit">
    </form>
</body>
</html>