<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tuan Nguyen Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

</head>
<body>
    <div id="menu">
        <a href="/">Home</a> | 
        <a href="/project">Project</a> |
        <a href="/contact">Contact</a>
    </div>
    <h2>About Me</h2>
    <div id="left">
    <img src="~/img/tom.jpg"><br>
    <a>This is Tuan Nguyen</a>
    </div>
    <div id="right">
        <p>Pie soufflé cheesecake tootsie roll cake tootsie roll bonbon pie candy canes. Dragée croissant lemon drops candy canes donut chocolate topping. Sesame snaps apple pie bear claw croissant toffee candy canes. Pie pudding chupa chups. Bonbon sugar plum cheesecake donut cheesecake marshmallow. Cake dragée cake cake marzipan brownie cotton candy tart jelly. Oat cake macaroon cotton candy chupa chups. Chocolate wafer bear claw liquorice marzipan. Icing wafer macaroon jelly. Candy canes wafer candy gingerbread sugar plum cookie pudding biscuit liquorice. Donut marshmallow chocolate cake ice cream powder. Apple pie cupcake lemon drops oat cake bear claw pudding. Lollipop carrot cake halvah muffin muffin chupa chups.</p>
    </div>
</body>
</html>