<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/proj.css">
</head>

<body>
    <div id="menu">
        <a href="/">Home</a> |
        <a href="/project">Project</a> |
        <a href="/contact">Contact</a>
    </div>

    <h1>Here are some projects of mine!</h1>
    <hr>
    <div class="ex1">
        <table>
            <tr>
                <td id="rightbox"><img src="~/img/pic.jpg"></td>
                <td id="leftbox">
            <tr>Cool Thing!</tr>
             <tr>Chocolate bar cheesecake liquorice topping powder gummies. Sweet marshmallow sesame snaps cupcake
                    sweet roll sweet roll.</tr>
            </td>
            </tr>

            <tr>
                <td id="rightbox"><img src="~/img/pic.jpg"></td>
                <td id="leftbox">
            <tr>Cool Thing!</tr>
             <tr>Chocolate bar cheesecake liquorice topping powder gummies. Sweet marshmallow sesame snaps cupcake
                    sweet roll sweet roll.</tr>
            </td>
            </tr>

            <tr>
                <td id="rightbox"><img src="~/img/pic.jpg"></td>
                <td id="leftbox">
            <tr>Cool Thing!</tr>
             <tr>Chocolate bar cheesecake liquorice topping powder gummies. Sweet marshmallow sesame snaps cupcake
                    sweet roll sweet roll.</tr>
            </td>
            </tr>

            <tr>
                <td id="rightbox"><img src="~/img/pic.jpg"></td>
                <td id="leftbox">
            <tr>Cool Thing!</tr>
             <tr>Chocolate bar cheesecake liquorice topping powder gummies. Sweet marshmallow sesame snaps cupcake
                    sweet roll sweet roll.</tr>
            </td>
            </tr>

            <tr>
                <td id="rightbox"><img src="~/img/pic.jpg"></td>
                <td id="leftbox">
            <tr>Cool Thing!</tr>
             <tr>Chocolate bar cheesecake liquorice topping powder gummies. Sweet marshmallow sesame snaps cupcake
                    sweet roll sweet roll.</tr>
            </td>
            </tr>

        </table>
    </div>

</body>

</html>