<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Razor</title>
</head>
<body>
<h1>Here are some test of Razor by running loop</h1>
@{
    string[] day= new string[4]{
            "Test",
            "Monday","Tuesday","Friday"
    };

    @foreach(var a in day){
        <p>@a</p>
        @if(a.Length < 5){
            <p>@a has short length</p>
        }
    }
}
</body>
</html>